.pokemon-img.dragon {
    background-color: #6f35fc;
}

.pokemon-img.rock {
    background-color: #a9a481;
}

.pokemon-img.fighting {
    background-color: #e49021;
}

.pokemon-img.fire {
    background-color: #ee8130;
}

.pokemon-img.water {
    background-color: #6390f0;
}

.pokemon-img.grass {
    background-color: #7ac74c;
}

.pokemon-img.electric {
    background-color: #f7d02c;
}

.pokemon-img.ground {
    background-color: #e2bf65;
}

.pokemon-img.poison {
    background-color: #a33ea1;
}

.pokemon-img.bug {
    background-color: #a6b91a;
}

.pokemon-img.flying {
    background-color: #a98ff3;
}

.pokemon-img.psychic {
    background-color: #f95587;
}

.pokemon-img.ghost {
    background-color: #735797;
}

.pokemon-img.ice {
    background-color: #96d9d6;
}

.pokemon-img.dark {
    background-color: #705746;
}

.pokemon-img.steel {
    background-color: #b7b7ce;
}

.pokemon-img.fairy {
    background-color: #d685ad;
}

.pokemon-img.normal {
    background-color: #a8a77a;
}